<div class=top-page>
    <h1 class="top-header">ようこそ Bookersへ！</h1>
    <p class="top-text">
        Bookersでは様々な書籍に関するあなたの意見や</br>
        印象を共有し交換することができます
    </p>
    <span class="into-btn">
        <%= link_to 'start', books_path, class: "btn" %>
    </span>
</div>
