/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header,
.top-header,
.top-text {
   font-family:  papyrus;
}

header {
    height: 100px;
    background-color: #0045ff;
    text-align: right;
    color: #fff;
    font-size: 20px;
    line-height: 100px;
    padding-right: 20px;
}

footer {
    height: 150px;
    background-color: #0045ff;
    color: #fff;
    text-align: center;
    line-height: 150px
}
